<div class="popup popupRegisterOpen_js">
    <form class="popup__form popup__form_register" name="register" action="">
        <label class="popup__lable">
            <span class="popup__text requiared">Email</span>
            <input class="popup__input" type="text" name="email">
        </label>
        <fieldset class="popup__box">
            <label class="popup__lable popup__lable_custom">
                <span class="popup__text requiared">Name</span>
                <input class="popup__input" type="text" name="name">
            </label>
            <label class="popup__lable popup__lable_custom">
                <span class="popup__text requiared">Surname</span>
                <input class="popup__input" type="text" name="surname">
            </label>
            <label class="popup__lable popup__lable_custom">
                <span class="popup__text requiared">Password</span>
                <input class="popup__input" type="password" name="password">
            </label>
            <label class="popup__lable popup__lable_custom">
                <span class="popup__text requiared">Repeat password</span>
                <input class="popup__input" type="password" name="repeatPassword">
            </label>
            <label class="popup__lable popup__lable_custom">
                <span class="popup__text requiared">Location</span>
                <input class="popup__input" type="text" name="location">
            </label>
            <label class="popup__lable popup__lable_custom">
                <span class="popup__text requiared">Age</span>
                <input class="popup__input" type="number" name="age">
            </label>
        </fieldset>
        <label class="popup__lable popup__container">
            <input class="hidden popup__checkbox registerChecked_js" type="checkbox"   name="agreement" value="yes">
            <span class="popup__checkboxText">Clicking on the button, you consent to the processing of your personal data.</span>
            <span class="popup__checkboxChecker"></span>
        </label>
        <button class="popup__button button button_disabled registerButton_js" disabled type="submit">Sign up</button>
        <button class="popup__close" type="button">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
                <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
                </svg>                    
        </button>
    </form>
</div>

