.button {
cursor: pointer;

display: flex;
align-items: center;
justify-content: center;
padding: 10px 18px;

background-color: transparent;
color: black;

border-radius: 30px;
border: 2.5px solid #070707;

font-weight: bold;
font-family: "Gilroy", Arial, sans-serif;

font-size: 18px;
line-height: 22px;

transition: background-color $duration linear;

&:hover, &:focus {
    background-color:  #070707;
    color:#FFFFFF;
  }
  &_disabled {
    cursor:  no-drop;
    opacity: 0.5;
  }
  &_social {
    padding: 10px 16px;
}
  &_black {
    background-color: #070707;
    color:#FFFFFF;

  }

}
