.main {
  margin: 10px;
}

.inner {
  display: block;
  background-color: #e6e6e6;
  max-width: 50%;
  padding: 1px;
  margin: 0 auto;
}
.header {
  display: flex;
  margin: 3px 3px -10px;
  padding: 0px 0px 0px 10px;
  flex-wrap: wrap;
}

.header li {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 12px;
  padding: 5px 20px;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  border: 5px solid #ddd;
  border-width: 1px 1px 1px 1px;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;

  outline: 2px solid #969696;
}

.header li.active {
  background-color: #ffffff;
  outline: 2px solid #969696;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 5px 5px 5px;
  list-style-type: none;
  padding: 0;
  background-color: #ffffff;
  outline: 2px solid #969696;
  min-height: 300px;
}

.content li {
  cursor: pointer;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  max-width: 192px;
  padding: 0px;
  margin: 20px;
  outline: #969696 solid 2px;
}

.content img {
  max-width: 100%;
}
