<div class="popup changeData_js">
    <form class="popup__form popup__form_changeData" name="changeData">
        <label class="popup__lable">
            <span class="popup__text">Email</span>
            <input class="popup__input" type="text" name="email">
        </label>
        <div class="popup__box">
            <label class="popup__lable popup__lable_width">
                <span class="popup__text">Name</span>
                <input class="popup__input" type="text" name="name">
            </label>
            <label class="popup__lable popup__lable_width">
                <span class="popup__text">Surname</span>
                <input class="popup__input" type="text" name="surname">
            </label>
            <label class="popup__lable popup__lable_width">
                <span class="popup__text">Location</span>
                <input class="popup__input" type="text" name="location">
            </label>
            <label class="popup__lable popup__lable_width">
                <span class="popup__text">Age</span>
                <input class="popup__input" type="number" name="age">
            </label>

              <label class="popup__lable popup__lable_width popup__customFile" for="avatar">
                <span class="popup__text">Profile picture</span>
                <span class="popup__input popup__fileText" >
                    Choose a file...
                </span>
                <input class="popup__input photo_js popup__upload " id="avatar" type="file" name="avatar">
              </label>
        </div>
        <button class="popup__button button submitData_js" type="submit">Submit changes</button>
        <button class="popup__close" type="button">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
                <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
                </svg>                    
        </button>
    </form>
</div>

