@mixin media-interval($min, $max) {
  @if $max == 0 {
    $max: 9999px;
  }

  @media (min-width: ($min + 1px)) and (max-width: $max) {
    @content;
  }
}

$duration: 0.4s;

$xl: 1400px;
$lg: 1280px;
$md: 1023px;
$sm: 640px;
$mo: 320px;