@import "./vars";

* {
  font-family: "Gilroy", Arial, sans-serif;
  box-sizing: border-box;
}

body {

  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1440px;
  padding-left: 220px;
  padding-right: 220px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: $lg) {
    padding-right: 150px;
    padding-left: 150px;
  }

  @media screen and (max-width: $md) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media screen and (max-width: $sm) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.hidden {
  display: none;
}

.loader {
  margin: 60px auto;
  transform: translate(-50%, -50%);

  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-scroll {
  position: fixed;

  bottom: 30px;
  right: 30px;
  border: none;
  background-color: transparent;

  &::before {
    content: url("/static/images/scroll.svg");
    width: 42px;
    height: 42px;
  }

  @media screen and (max-width: $md) {
    display: none;
  }

  &_hidden {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 246, 246, 0.99);

  z-index: 10;

  @media screen and (max-width: $sm) {
    background-color: white;
  }

  &_open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 3px solid #070707;
    padding: 40px 40px 50px 40px;

    background-color: #ffffff;

    position: relative;

    @media screen and (max-width: $sm) {
      border: none;
    }
  }
  &__lable {
    width: 100%;
    margin-bottom: 20px;
  }

  &__text {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #070707;
    margin-bottom: 6px;
  }
  &__input {
    border: 3px solid hsl(0, 0%, 90%);
    height: 50px;
    width: 100%;
    padding-left: 10px;
    outline: none;

    &:focus {
      border-color: #070707;
    }

    &:hover {
      border-color: #828282;
    }
  }

  &__button {
    margin-top: 10px;
  }
  &__close {
    cursor: pointer;

    position: absolute;
    top: -3px;
    right: -46px;
    background-color: transparent;
    border: none;

    @media screen and (max-width: $sm) {
      top: 0px;
      right: 0;
      left: 30px;
    }

    &:hover svg rect,
    &:focus svg rect {
      fill: #070707;
    }
  }
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./signInPopup/singinPopup";
@import "./registerPopup/registerPopup";
@import "./sendMessage/sendMassage";

