@font-face {
  font-family: "Oswald";
  src: url("./Oswald-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("./Oswald-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("./Oswald-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("./Oswald-Light.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("./Oswald-ExtraLight.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('subset-OpenSans-Bold.woff2') format('woff2'),
      url('subset-OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('subset-OpenSans-Regular.woff2') format('woff2'),
      url('subset-OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}