.popup { 
    &__box {
        max-width: 595px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__form {
        &_register { 
            max-width: 680px;
        }
    }
    &__lable {
        &_width {
            width: 48.5%;
        }
    }

    &__container {
        display: flex;

        &:hover .popup__checkboxText   {
            color: #828282;
        }
        &:hover .popup__Checker  {
            border: 2px solid #828282;
        }
    }
    &__checkboxText {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #E5E5E5;
        margin-left: 35px;

        @media screen and (max-width: $sm) {
            margin-left: 30px;
          }
    }
    &__checkbox {
        &:focus ~.popup__checkboxText   {
            color: #828282;
            outline: 2px solid #000;
            outline-offset: 2px;
        }
        &:focus ~.popup__Checker  {
            border: 2px solid #828282;
        }

       &:checked ~.popup__Checker::before {
        content: "✔";
        font-weight: 800;
        font-size: 16px;
        position: absolute;
        display: inline-block;
        width: 19px;
        height: 19px;
        transform: translate(2px, -1.5px)
       }
       &:checked ~.popup__checkboxText {
           color: #070707;
       }
    }
     &__Checker {
        position: absolute;
        display: block;
        border: 2px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 3px;
      
        width: 19px;
        height: 19px;
      
        align-items: center;

        left: 0;
    margin-left: 42px;

    
    @media screen and (max-width: $sm) {
        margin-left: 20px;
      }
     }
}
