<footer class="footer container">
    <div class="footer__inner">
        <span class="footer__title">Contacts</span>
        <span class="footer__description">Want to know more or just chat?
            You are welcome!</span>
        <button type="button" class="button button_black footer__message sendMessageButton_js" aria-label="Go to send message" title="Send message">
            Send message
        </button>
        <ul class="footer__social">
            <li class="footer__item">
                <button class="footer__link button button_social" aria-label="Go to instagram" title="instagram">
                    Instagram
                </button>
            </li>
            <li class="footer__item">
                <button class="footer__link button button_social" aria-label="Go to vk" title="Vk">
              Vk
                </button>
            </li>
            <li class="footer__item">
                <button class="footer__link button button_social" aria-label="Go to Telegram" title="Telegram">
             Telegram
                </button>
            </li>
            <li class="footer__item">
                <button class="footer__link button button_social" aria-label="Go to Mail" title="Mail">
                   Mail
                </button>
            </li>
            <li class="footer__item">
                <button class="footer__link button button_social" aria-label="Go to GitHub" title="GitHub">
                GitHub
                </button>
            </li>
            <li class="footer__item">
                <button class="footer__link button button_social" aria-label="Go to Phone" title="Phone">
                    Phone
                </button>
            </li>
        </ul>
        <span class="footer__design">Design by <a class="footer__dl" href="/" aria-label="Go to DL Academy" title="DL Academy">DL Academy</a></span>
        <span class="footer__code">Program code from Antonina</span>
    </div>
</footer>