<div class="popup popupSignInOpen_js">
    <form class="popup__form popup__form_signIn" name="signIn" action="">
        <label class="popup__lable">
            <span class="popup__text requiared">Email</span>
            <input class="popup__input" type="email" name="email">
        </label>
        <label class="popup__lable">
            <span class="popup__text requiared">Password</span>
            <input class="popup__input" type="password" name="password">
        </label>
        <button class="popup__button button" type="submit">Log in</button>
        <button class="popup__close" type="button">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
                <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
                </svg>                    
        </button>
    </form>
</div>